@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #000;
  --light: #fff;
  --primary-font: 'Poppins';
  font-size: 18px;
}

body{
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--primary-font, sans-serif);
}

body::-webkit-scrollbar {
  width: 3px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--light);
}

header,nav,.hero {
  display: flex;
} 

ul {
  list-style: none;
}

header {
  height: 12vh;
  padding: 12px 0;
  justify-content: space-around;
  align-items: center;
}

nav {
  gap: 20px;
  font-weight: 600;
}

nav.mobile-nav{
  display: none;
}

section.hero {
  position: relative;
  height: calc(100vh - (12vh));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-repeat: no-repeat;
  background-position: 92% 0;
}

ul.social-links {
  position: absolute;
  left: 25vw;
  top: 12vh;
  font-size: 1.2rem;
}

a, a > svg {
  text-decoration: none;
  color: var(--light);
  transition: all 0.3s ease;
}

a > svg:hover {
  transform: scale(1.08) rotate(360deg);
}

.intro {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.pic {
  width: 25%;
  border-radius: 50%;
}

hr.section-border {
  margin: 0 auto;
  width: 80%;
  border: 1px solid var(--light);
  border-radius: 100%;
}

main {
  text-align: center;
  padding: 1.5rem 1rem 0;
}

section.projects {
  padding: 1rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.iframe-container {
  margin-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
}

iframe {
  height: 400px;
  width: 110%;
  border: none;
  overflow: auto;
}

.project {
  position: relative;
  text-align: center;
}

.project-stack {
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.project-stack > li {
  padding: 8px;
  border: 2px solid var(--light);
}

.project-details {
  padding: 10px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.iframe-container:hover ~ .project-details {
  opacity: 1;
  z-index: 1;
  background-color: var(--dark)
}

button, a > button {
  margin-right: 8px;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--dark);
  background-color: var(--light);
  transition: all 0.3s ease;
}

button:hover, a > button:hover {
  color: var(--light);
  background-color: var(--dark);
}

section.about-section {
  width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  place-items: center;
  border-bottom: 1px solid var(--light);
  border-radius: 5%;
}

.about-section > h1 {
  grid-column: 1/3;
}

.tech-stack {
  width: 80%;
  padding: 10px 0 1.2rem;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
  color: var(--dark);
  background-color: var(--light);
  box-shadow: 2px 2px 4px var(--light), -2px -2px 4px var(--light);
}

.tech-stack > ul > li {
width: 85%;
margin: 0 auto 2px auto;
padding: 5px;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 4px;
border-radius: 6px;
color: var(--light);
background-color: var(--dark);
}

section.contact {
  width: 80vw;
  margin: 0 auto;
  padding: 3.5rem 0 2rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form > * {
  padding: 10px;
  border-radius: 4px;
}

form > button {
  width: max-content;
  align-self: center;
}

.success {
  color: #1cfd1c;
}

.error {
  color: #f71e1e;
}

.hide {
  display: none;
}

@media (max-width: 768px) { 
  :root {
    font-size: 15px;
  }

  header {
    height: auto;
    padding: 10px 24px;
    justify-content: space-between;
  }

  header > nav {
    display: none;
  }

  nav.mobile-nav {
    display: block;
  }

  .mobile-nav-container {
    width: 100%;
    height: 100vh;
    padding: 15px 15px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.95);
    transition: all 0.3s ease;
  }

  .hide-nav {
    opacity: 0;
    z-index: -1;
    width: 0;
  }

  .mobile-nav-container > button {
    align-self: flex-end;
    font-size: 1.2rem;
  }

  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 700;
    font-size: 2rem;
  }

  ul.social-links {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    gap: 1rem;
    order: 1;
    font-size: 1.4rem;
  }

  hr {
    order: 2;
  }

  section.hero {
    background-position: 50% -10%;
  }

  .pic {
    width: 50%;
  }

  section.contact {
    flex-wrap: wrap;
  }

  section.about-section{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .about-section > h1 {
    grid-column: 1;
  }

  .tech-stack {
    padding: 10px;
  }

  .tech-stack > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .tech-stack > ul > li {
    width: auto;
    margin: 0 
  }

  .about-details {
    text-align: center;
  }

 }
